---
const { href, title, body, image, price } = Astro.props;
---

<div class="card w-80 lg:w-96 bg-base-100 shadow-xl">
  <figure class="px-10 pt-10">
    <img src={image} alt={title} class="h-32 w-32 rounded-xl" />
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title">{title}</h2>
    <p set:html={body} />
    <div class="card-actions">
      <a class="btn btn-primary" href={href}>{price}</a>
    </div>
  </div>
</div>
